table,
th,
td {
  border: 2px solid rgb(38, 0, 255);
  border-collapse: collapse;
}

td {
  padding: 15px 22px;
}

th {
  padding: 23px 12px;
}

p {
  background-color: rgb(108, 55, 159);
  /* padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px; */
  /* padding: 100px;-- yuxari-asagi-sag-sol */
  /* padding: 50px 0; */
  /* padding: 0 50px;-- yuxari-asagi, sag-sol */
  /* padding: 20px 30px 60px 0;-- yuxari, sag, asagi, sol */
  /* padding: 200px 500px 100px;-- yuxari,sag-sol,asagi */

  margin-top: 30px;
  margin-bottom: 23px;
  margin-left: 32px;
  margin-right: 54px;

/*  margin: 100px;-- yuxari-asagi-sag-sol */
  /*  margin: 0 50px;-- yuxari-asagi, sag-sol */
  /*  margin: 20px 30px 60px 0;-- yuxari, sag, asagi, sol */
  /*  margin: 200px 500px 100px;-- yuxari,sag-sol,asagi */

  margin: 40px 20px 50px;
}
.div-tag {
  background-color: rgb(1, 255, 208);
}
